

main {
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    h1 {
        font-size: 2rem;
        color: $primary-color;
    }
}
.section-about-isc {
   
    .left-section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        
    }
    .right-section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .about-paragraph {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        height: 300px;
        min-width: 200px;
        text-align: center;
        h2 {
            font-size: 1.1rem;
            font-weight: bold;
            line-height: 1.5;
            padding:0.2rem;
            margin: 0;
        }
        p {
            margin: 1rem;
            text-align: left;
        }
    }
    
    .about-image {
        height: 300px;
        min-width: 200px;
        img {  
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

}   