

main {
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    h1 {
        padding: 2rem;
        font-size: 2rem;
        color: $primary-color;
    }
}
.section-about-isc {
   
    .left-section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 350px;
    }
    .right-section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 350px;
    }

    .about-paragraph {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
       
        min-width: 200px;
        text-align: center;
        h2 {
            font-size: 1.1rem;
            font-weight: bold;
            line-height: 1.5;
            padding:0.2rem;
            margin: 0;
        }
        p {
            margin: 1rem;
            text-align: left;
        }
    }
    
    .about-image {
       
        width: 200px;
        img {  
            width: 100%;
            max-height: 350px;
            object-fit: contain;
        }
    }
}   

.member {
    border: 1px solid rgba($color:  $primary-color, $alpha: 0.2) ;
    min-width: 250px;
    height: fit-content;
    padding: 1rem;
    margin-bottom: 1rem;
    &__image{
        display: flex;
        justify-content: center;
        align-items: center;
       
        
        height: 300px;

        img {
            height: auto;
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
            margin: 1rem;
        }
    }
    
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3 {
            font-size: 1.4rem;
            margin: 0;
            padding-bottom: 1rem;
            font-weight: bold;
            
        }
        
        h4 {
            font-size: 1.2rem;
            margin: 0;
            padding-bottom: 1rem;
            color: $primary-color;
        }
        
        p {
            padding: 1rem;
            text-align: center;
        }

        i {
            margin: 1rem;
        }

    }
}