.section__activities{    
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    .grid {
        display: grid;   
        gap: 2.5rem;
        margin: 1rem;

    }
    h1, h2, h3, h4,h5,h6, p {
        margin: 0;
    }
    h3 {
      font-size: 2rem;
      color: rgba( $primary-color, 1);
      padding: 2rem 0;  
    }

    .activity-card {    
        max-width: 350px;
        height: 600px;
        margin: 0;
        
        &__image {
            max-height: 300px;
            width: 100%;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        
        &__information {
            height: 300px;
            width: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: space-between;
            h2 {
                font-size: 1.35rem;
                line-height: 1.5;
            }

            h3 {
                padding: 0;
                font-size: 1.1rem;
                line-height: 1.5;
                color: rgba( $primary-color, 0.8);
                
                span {
                    color: black;
                    margin-left: 1rem;

                }
                
            }

            h4 {
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.5;
                color: rgba( $primary-color, 1);

            }
            .activity-btns {
                display:flex;
                justify-content: flex-start;
                margin-top: 1rem;
                &__primary {
                    background: rgba( $primary-color, 1);
                    color: white;
                    width: 110px;
                    height: 35px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1.2rem 0;
                    margin:  0 3rem 0 0;
                }
    
                &__secondary {
                    background: $text-color;
                    color: rgba( $primary-color, 1);
                    border: 1px solid rgba( $primary-color, 1);
                    width: 110px;
                    height: 35px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1.2rem 0;
                    
                }
            }
        }
    }
 
    .activities-pages {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 2rem ;
        
    }
    
}

