.section {
        margin: 0;
        padding: 0;
}

   
.email-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    h2 {
        font-size: 1.2rem;
        padding-bottom: 1rem;
        line-height: 1.8;
        margin: 0;
    }

    .btns-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0;
        
        a {
            color: $text-color;
            background: $dark-background-color;
            padding: 1rem 3rem;
            margin-top: 1rem;
        }

        input {
            background: $text-color;
            margin: 0;
            
            font-size: 1.2rem;
            padding: 0.2rem 1rem;
            text-align: center;
            &:focus {
                text-align: left;
                font-size: 1.3rem;
            }
        }
    }
}
.footer {
    background: $dark-background-color;
    padding: 4rem;
    .grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
        margin: 0rem;
        padding: 1rem;
        .cell {
          
            max-width: 300px;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items:flex-start;
            padding-left: 1rem;
            border-left: 3px solid $primary-color ;
            margin-bottom: 1rem ;

            h5 {
                line-height: 1.5;
            }

            a {
                font-size: 1rem;
                padding: 0.4rem 0;
                color: $text-color;
                font-weight: 500;
                &:hover {
                        color: $primary-color;
                    }
            }
          
        }
    }
}
.copywrite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    h4 {
        font-size: 1.2rem;
        padding: 1rem;
        margin: 0;
    }

    span {
        color: $special-color;
    }
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;

    h5 {
        padding: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0;
    }
    


    a {
        display: block;
        color: $text-color;
        font-size: 1.1rem;
        padding-bottom: 1rem;

        *::before {
            padding-right: 0.4rem;
            font-size: 1.4rem;
        }


    }
}