@media #{$small-and-down}  {
    .section__activities{  
        .grid {
            grid-template-columns: 1fr;
        }

    }
    .left-form {
        p {
            font-size: 1.2rem;
            text-align: left;
            padding: 1rem;
        }
       
    }

}
@media #{$medium-and-up} {
    .section__activities{  
        .grid {
            grid-template-columns: 1fr 1fr ;
        }
    }

    
    footer {
        .copywrite {
        flex-direction: row;
        }
        
        .test {
            flex-direction: row;
            width: 80%;
            a {

                margin: 0;
                flex-basis: 20vw;
            }
        }
    }
}
@media #{$large-and-up}{
    .section__activities{  
        .grid {
            grid-template-columns: 1fr 1fr 1fr ;
        }   
    }
       
    footer {
        .test a{
            display: inline-block;
            padding-right:1rem ;
        }
        .social-media  .test {
            flex-direction: row;
        }
    }

    
   
}