.sponsors {
    
    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.4rem;
        margin-top: 0;

        i {
            font-size: 2.4rem;
            height: 100%;
            margin-right:1rem ;
        }
    }
    img {
        max-width: 50%;
        height: auto;
        object-fit: scale-down;
    }
    .row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2rem;
    }
    .sponsor-wrapper {
        margin:3rem auto ;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        i {
            flex-basis: 5vw;
        }
        .row {
            flex-basis: 80vw;
        }
    }
    .sponsor {

        height: 100px;
        max-width: 200px;
        display: flex;
        align-content: center;
        justify-content: center;
        
    }

}

.section-sponsor-info {
   padding: 2rem 0;
    .row {
      
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        
        .col {
            padding: 0.5rem 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        h3 {
            font-size: 1.5rem;
            margin: 0;
        }
        
        i {
            font-size: 2rem;
            padding-right:1rem ;
        }
    }
}